@charset "UTF-8";
// Your theme overrides.

// Administration overrides

#toolbar-administration .field {
  margin: 0;
}

.block-local-actions-block {
  li {
    display: inline;
  }
}

// Views Administration overrides

.views-admin {
  .icon,
  .icon-text {
    background: none;
  }
  .views-display-top {
    .control {
      display: inline-block;
    }
  }
}
