@charset "utf-8";

@import 'variables';

@import "bulma";

@import 'overrides';

$thickness: 3px;

// Button style from Lumen theme
.button {
  border-style: solid;
  border-width: 1px 1px $thickness 1px;

  &.is-hovered,
  &:hover {
    border-bottom-width: $thickness - 1;
    .icon {
      padding-top: 1px;
    }
  }

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: none;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-color: darken($color, 5);

      &.is-hovered,
      &:hover {
        border-color: darken($color, 10) !important;
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: darken($color, 10);
        box-shadow: $input-focus-box-shadow-size rgba($color, 0.25);
      }
    }
  }
}

// Site logo
#block-pino-theme-branding {
  img {
    width: 1.75rem;
  }
}

// Members view fixes

#views-exposed-form-members-page-1 {
  #edit-field-position-target-id {
    .field {
      float: left;
      margin-right: 2rem;
    }
  }
}

.member {
  .field-field_position {
    div div {
      display: inline;
    }
  }
}